<h3><b>Comments</b></h3>
  <% @route.comments.each do |comment| %>
    

    <div class='well well-small' id='comment'>
      <div class="row">
        
          
          <% if comment.user.image? %>
            <div class="span1">
              <%= image_tag comment.user.image(:thumb) %></br></br>
         
              <% if current_user.try(:admin?) %>
                <%= link_to 'Remove', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %> 
       
              <% if current_user == @route.user %>
            
                <%= link_to 'Remove', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
             
                <% if current_user == comment.user %>
                
                  <%= link_to 'Remove', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </div>
          <div class="span2">
            <p>
              By <strong> <%= comment.commenter %></strong></br>
              <%= comment.created_at.strftime("%b. %d, %Y") %>
            </p>
          </div>

          <% else %>
            <div class="span1" >
                <br/><br/>
              <% if current_user.try(:admin?) %>
                <%= link_to 'Remove', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %> 
       
              <% if current_user == @route.user %>
            
                <%= link_to 'Remove', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
             
                <% if current_user == comment.user %>
                
                  <%= link_to 'Remove', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </div>
            <div class="span2">
              <p>
                By <strong> <%= comment.commenter %></strong></br>
                <%= comment.created_at.strftime("%b. %d, %Y") %>
              </p>
            </div>
            <% end %>
          
        <div class="span4">
          <p>
            <%= comment.body %>
          </p>
        </div>
      </div>  
    </div>
  <% end %>
 
  <h4>Add a Comment</h4>
    <%= simple_form_for([@route, @route.comments.build]) do |f| %>
      <p>
        <%= f.hidden_field :commenter, :value => current_user.name %> 
      </p>
      <p>
        <%= f.input :body, as: :text, label: false, input_html: { rows: "4" } %>
      </p>
        <%= f.submit :Submit, class: "btn btn-info" %>
      
    <% end %>
  
  <% if false %> as: :text, label: "Name:", input_html: { rows: "1" } <% end %>