<h3><b>Comments</b></h3>
  <% @route.comments.each do |comment| %>
    
    <div class='well well-small' id='comment'>
      <div class="row">
        <div class="span2">
          <p>
          By <strong> <%= comment.commenter %></strong>
          </p>
          
          <% if current_user.try(:admin?) %>
            <p>
              <%= link_to 'Delete', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          <% end %> 
       
          <% if current_user == @route.user %>
            <p>
              <%= link_to 'Delete', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          
          <% else %>
             
            <% if current_user == comment.user %>
              <p>
                <%= link_to 'Delete', [@route, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
          <% end %>
        </div>

        <div class="span3">
          <p>
            <%= comment.body %>
          </p>
        </div>
      </div>  
    </div>
  <% end %>
 
  <h4>Add a Comment</h4>
    <%= simple_form_for([@route, @route.comments.build]) do |f| %>
      <p>
        <%= f.hidden_field :commenter, :value => current_user.name %> 
      </p>
      <p>
        <%= f.input :body, as: :text, label: false, input_html: { rows: "4" } %>
      </p>
        <%= f.submit :Submit, class: "btn btn-info" %>
      
    <% end %>
  
  <% if false %> as: :text, label: "Name:", input_html: { rows: "1" } <% end %>