<div class='profile' >
<h1><u><%= @user.name %>'s Page</u></h1>
</div>



<h2> Profile </h2>
<div class="well well-small">
	<ul>
		<li><b>Hometown:</b> <%= @user.hometown  %></li>
		<li><b>Been Climbing For</b> <%= @user.climbingfor %></li>
		<li><b>Climbing Ability:</b> <%= @user.ability %></li>
		<li><b>Favorite Climb/Area:</b> <%= @user.favclimb %></li>
		<li><b>Other Interests:</b> <%= @user.interests %></li>
	</ul>
</div>

<h2> Routes </h2>
<div id="routes">
  <%= render @routes %>
</div>

<%= will_paginate @routes %>
