<h2>Forgot Your Password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %><br/>
  
  <%= f.input :email %>

<div class="form-actions">
  <%= f.submit "Send Me Reset Password Instructions", class: "btn btn-info" %>
<% end %>
</div>

<%= render "devise/shared/links" %>

