 <tr>
  <td><%= to_do.name %></td>
  <td><%= to_do.grade %></td>
  <td><%= to_do.description %></td>
  <td><%= link_to 'Show', to_do %></td>
  <td><%= link_to 'Edit', edit_to_do_path(to_do) %></td>
  <td><%= link_to 'Destroy', to_do, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </tr>