<div class=:"row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @to_do.image %>
			<p><%= @to_do.name %></p>
			<p><%= @to_do.grade %></p>
			<p><%= @to_do.description %></p>
			<p><%= @to_do.user.name %></p>

			<% if current_user == @to_do.user%>
				<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
			<% end %>
			<%= link_to 'Back', to_dos_path %>
		</div>
	</div>
</div>



