<%= simple_form_for(@route, html: { class: "form horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_full_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

    <%= f.input :image, label: "Upload an Image <br/> (Max 6 MB)" %>
    <%= f.input :image_remote_url, label: "or enter a URL", :autofocus => true %>
    <%= f.input :Name, label: "Name of Climb", as: :text, input_html: { rows: "2" } %>
    <%= f.input :location, label: "Location of Climb", as: :text, input_html: { rows: "2" } %>
    <%= f.input :Grade, collection: ["5.5", "5.6", "5.7", "5.8", "5.9", "5.10a", "5.10b", "5.10c", "5.10d", "5.11a", "5.11b", "5.11c", "5.11d", "5.12a", "5.12b", "5.12c", "5.12c", "5.12d", "5.13a", "5.13b", "5.13c", "5.13d", "5.14a", "5.14b", "5.14c", "5.14d", "5.15a", "5.15b", "5.15c", "v0", "v1", "v2", "v3", "v4", "v5", "v6", "v7", "v8", "v9", "v10", "v11", "v12", "v13", "v14", "v15", "v16"] %>
    <%= f.input :typeofclimb, label: "Type", collection: ["Boulder", "Sport", "Trad", "Ice", "Alpine", "Mixed"] %>
    <%= f.input :date, label: "Climbed On:",  as: :text, input_html: { rows: "1" } %>
    <%= f.input :description, as: :text, input_html: { rows: "3" } %>
		
		
		
  
  <div class="form-actions">
    <%= f.button :submit, "Post Route", class: "btn btn-info" %>
  </div>
<% end %>
