
<div class="box">
	<%= link_to (image_tag route.image(:medium)), route %>
	<p class="description">
		<%= route.Name %>	
		<%= route.Grade %>
	</p>
	<p>
		<strong>
			Posted by <%= link_to route.user.name, route.user %> 
		</strong>
	</p>
	<p>
		<strong>
			on <%= route.created_at.strftime("%b. %d, %Y") %>
		</strong>
	</p>

	
	<% if current_user == route.user %>
		<p>
			<%= link_to 'Edit', edit_route_path(route) %>
			<%= link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>
</div>

