<tr>
	<td><%= image_tag route.image(:thumb)%></td>
	<td><%= route.Name %></td>
	<td><%= route.date %></td>
	<td><%= route.Grade %></td>
	<td><%= route.description %></td>
	<td><%= link_to 'Show', route %></td>
	
	<% if current_user == route.user %>
		<td><%= link_to 'Edit', edit_route_path(route) %></td>
		<td><%= link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
</tr>
