<div class='profile' >
<h1> My Profile </h1>
</div>

<div class="well well-small">
	<ul>
		<li><b>Hometown:</b> <%= current_user.hometown  %></li>
		<li><b>Been Climbing For</b> <%= current_user.climbingfor %></li>
		<li><b>Climbing Ability:</b> <%= current_user.ability %></li>
		<li><b>Favorite Climb/Area:</b> <%= current_user.favclimb %></li>
		<li><b>Other Interests:</b> <%= current_user.interests %></li>
	</ul>
</div>


<h2> My Posted Routes </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Location</th>
      <th>Grade</th>
      <th>Type of Climb</th>
      <th>Climbed On</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    
    <tbody>
      <%= render @routes %>
   	</tbody>
 </table>

<% if false %>
<h2> My Posted Routes </h2>
<div id="routes">
  <%= render @routes %>
</div>
<% end %>

<%= will_paginate @routes %>