<div class="row">
  <div class="span6 offset3">
      <div class="well">
        <%= image_tag @route.image %>
      <br/>
      <br/>
        <p><%= @route.Name %> at <%= @route.location %></p>
        <p>Climbed on <%= @route.date %></p>
        <p><%= @route.Grade %></p>
        <p><%= @route.description %></p>
        <p>Posted by <%= link_to @route.user.name, @route.user %> on <%= @route.created_at.strftime("%b. %d, %Y") %></p>
        <% if current_user.try(:admin?) %>
          <%= link_to 'Edit', edit_route_path(@route) %> |
        <% else %>
          <% if current_user == @route.user %>
           <%= link_to 'Edit', edit_route_path(@route) %> |
          <% end %>
        <% end %>
          <%= link_to 'Back', routes_path %>
     </div>

     
    
  <div id="comments" class="well">
    <%= render 'comments/comment' %>
  </div>
</div>
</div>