<!DOCTYPE html>
<html>
	<head>
	  <title>Climb On! | Keep Track of Projects and Accomplishments | Share Photos With Friends </title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <meta name="description" content="Use your tick list to keep track of your projects, post pictures of your accomplishments, share your favorite routes with others and comment on your friend's photos" />
    <meta name="keywords" content='climbing, rock climbing, share photos, share climbing photos, keep track of climbs, tick list, climbing tick list' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
            <% end %>	
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>	

	</body>
</html>
